<div class="container">
  <h2>
    Cadastrar
  </h2>
  <small class="text-small">
    Campos com asterisco <strong class="text-danger">*</strong> são obrigatórios.
    <br>
    Preencha todos os campos com as informações desejadas.
  </small>
  <hr>
  <form action="/cadastrar" method="post">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome <strong class="text-danger">*</strong></label>
      <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email <strong class="text-danger">*</strong></label>
      <input type="email" class="form-control" id="email" name="email" required>

    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha <strong class="text-danger">*</strong></label>
      <input type="password" class="form-control" id="senha" name="senha" required>
    </div>
    <div class="mb-3">
      <label for="bio" class="form-label">Biografia</label>
      <textarea class="form-control" id="bio" name="bio" rows="3" cols="10" style="height: 144px; resize: none;"></textarea>
    </div>
    <div class="mb-3 d-grid gap-2">
      <button type="submit" class="btn btn-success"><i>Cadastrar</i></button>
      <a href="/login" class="btn btn-link">Já tens uma conta?</a>
    </div>
  </form>
</div>