<div class="container">
  <h2>
    Formas de Publicar
  </h2>
  <ul>
    <li>
      <a href="/publicar/conteudo">Publicar Conteúdo</a>
    </li>
    <li>
      <a href="/publicar/foto">Publicar com foto</a>
    </li>
  </ul>
</div>